<nav class="fd-global-nav">
  <div class="fd-global-nav__group fd-global-nav__group--left">
      <div class="fd-global-nav__side-menu"></div>
      <div class="fd-global-nav__logo fd-has-margin-left-none"></div>
      <div class="fd-global-nav__product-name">
        SAP/NASA Search Result Manager
      </div>
  </div>
  <div class="fd-global-nav__group fd-global-nav__launchpad">

  </div>
  <div class="fd-global-nav__group fd-global-nav__group--right">
      <div class="fd-global-nav__context-menu">

      </div>
      <div class="fd-global-nav__actions">
        <div class="fd-global-nav__search">
            <button class=" fd-button--secondary fd-button--m sap-icon--search fd-global-nav__btn" aria-label="BUTTON_LABEL" aria-controls="RUmA0636" aria-haspopup="true" aria-expanded="false"></button>
            <input (input)="onSearchChange(search.value)" #search type="text" class="fd-form__control" id="RUmA0636" aria-hidden="false" placeholder="Search... ">
        </div>
      </div>
  </div>
</nav>