<table class="fd-table">
    <thead>
        <tr>
            <th></th>
            <th>Center</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date Creted</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows$ | async">
            <td><img class="table-image" [src]="row.preview"/></td>
            <td>{{row.center}}</td>
            <td>{{row.title}}</td>
            <td>{{row.description}}</td>
            <td>{{row.date_created | date: 'short'}}</td>
        </tr>
    </tbody>
</table>